<!DOCTYPE html>
<html>

<head>
  <h3>GPT-2 test(124M model)</h3>
  <hr />
</head>

<body>
  <div>
    <input type="text" />
    <button id="submit">Submit</button>
  </div>
  <div id='output'>

  </div>
  <script>
    const formData = new FormData();

    document.getElementById("submit").onclick = () => {
      var message = document.getElementById('text').value;
      console.log(message);
      formData.append("message", message);
      fetch("/predict", {
          method: "POST",
          body: formData,
        })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById('output').innerHTML = data;
          console.log(data);
        });
    };
  </script>

</html>