<!DOCTYPE html>
<html>

<head>
  <h3>GPT-2 test(774M model)</h3>
  <hr />
</head>

<body>
  <div>
    <label>text</label><input type="text" id="text" />
    <label>length</label><input type="number" id="length" min='0' max='30'/>
    <label>top_k</label><input type="number" id="top_k" min='0' max='40'/>
    <button id="submit">Submit</button>
  </div>
  <div id='output'>

  </div>
  <script>
    const formData = new FormData();

    document.getElementById("submit").onclick = () => {
      var message = document.getElementById('text').value;
      document.getElementById('text').value='';
      console.log(message);
      formData.append("message", message);
      fetch("/predict", {
          method: "POST",
          body: formData,
        })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById('output').innerHTML = data.message;
          console.log(data.message);
        });
    };
  </script>

</html>